body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}
.container {
    display: flex;
    flex-direction: row;
    flex: none;
    width: 100%;
    height: auto;
    max-height: 50px;
    margin: 0px;
    overflow: hidden;
    padding: 0;
    background-color: rgba(58, 33, 82);
    
    
}
.left {
    width: 50%;
    padding: 0px 0;
    color: white;
    text-align: left;
    justify-content: left;
}
img{
    width: 30px;
    height: 80%;
    object-fit: cover;
    margin: 0; 
}
h1{
    margin: 0;
}

.right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 0 0px;
    color: white;
    text-align: right
}
.hIcon{
    width: 30px;
    height: auto;
}
.hamburger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15px;
    height: 20px;
    cursor: pointer;
    margin-right: 0.3cm;
}
.hamburger div{
    height: 3px;
    background-color: white;
    transition: all 0.3s ease;
    border-radius: 2px;
}
.menu{
    display:none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: rgba(58, 33, 82);
}
.menu a{
    padding: 1em;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.menu a:hover{
    background-color: rgba(78, 43, 122);
}