*{
  box-sizing: border-box; /* Prevents stuff from overflowing their containers - applies to everything*/
}
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 16px;
}

@media (max-width: 400px) {
  html {
      font-size: 14px; /* scale text on phones */
  }
}

body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
contactform{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #F5FBFF;
  color: grey;
  padding: 0;
  gap: 2em;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #F5FBFF;
  color: grey;
  margin-left: 0.5em;
  gap: 0.5em;
}
textarea{
  width: 70vw;
  height: 30vh;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: vertical;
  margin-bottom: 5px;
}
label{
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
/* submit button*/
input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 5px;
}
input[type=submit]:hover {
  background-color: grey;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #E5F3FD;
  text-align: center;
  padding: 10px;
  box-shadow: 10px 10px 8px grey
}
.footer {
  padding: 10px;
  text-align: center;
  height: 100px;
}
  
