body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;

}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.top {
    width: 28%;
    background-color: rgba(58, 33, 82);
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 0.7px;
    
}
.header {
    padding: 20px 0;
    color: white;
    text-align: center;
}
h1{
    margin: 0;
    
}